<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/whatsapp-api.png" alt="" />
  </div>
  <div class="headings">
    <h2>Whatsapp Blast</h2>
    <h3>By Aries</h3>
    <!-- <a href="/smoothies" class="btn">View Recipes</a> -->
    <!-- <a href="/login" class="btn">Log in</a> -->
  </div>
</header>

<%- include('partials/footer'); -%>
