<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <a href="#">
      <img src="/qrCode.png" alt="smoothie recipe icon" />
      <h4>Client</h4>
      <p>Add Client, Scan Qr Code</p>
    </a>
  </li>
  <li class="recipe">
    <a href="#">
      <img src="/chat.png" alt="smoothie recipe icon" />
      <h4>Chat</h4>
      <p>Chat Whatsapp</p>
    </a>
  </li>
</ul>

<%- include('partials/footer'); -%>
